New/Windows app/node_modules/7zip-bin/win/ia32/7za.exe
New/Windows app/node_modules/7zip-bin/win/x64/7za.exe
New/Windows app/node_modules/app-builder-bin/win/arm64/app-builder.exe
New/Windows app/node_modules/typescript/lib/lib.esnext.disposable.d.ts
New/Windows app/node_modules/typescript/lib/lib.esnext.collection.d.ts
New/Windows app/node_modules/typescript/lib/lib.esnext.decorators.d.ts
New/Windows app/node_modules/typescript/lib/lib.esnext.iterator.d.ts
New/Windows app/node_modules/typescript/lib/lib.esnext.promise.d.ts
New/Windows app/node_modules/ajv/.tonic_example.js
New/Windows app/node_modules/typescript/lib/lib.esnext.error.d.ts
New/Windows app/node_modules/app-builder-bin/win/ia32/app-builder.exe
New/Windows app/node_modules/app-builder-bin/win/x64/app-builder.exe
New/Windows app/node_modules/electron/dist/electron.exe
New/Windows app/node_modules/7zip-bin/win/arm64/7za.exe
*.exe
